
/* centering css */
#outer {
    height: 380px;
    /*overflow: hidden;*/
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
}
#outer[id] {
    display: table;
    position: static;
}

#middle[id] {
    display: table-cell;
    vertical-align: middle;
    position: static;
}

#inner {
    /*margin-left: auto;*/
    /*margin-right: auto;*/
} 

/* gimme some style */
body {
    background-color: WidgetBackground;
}

#icon {
    background: url("chrome://messenger/skin/icons/identity.png") no-repeat;
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
}

#content {
    float: right;
}

div.title {
    white-space:nowrap;
    font-size: 1.4em;
}

div.description {
    max-width: 500px;
    font-size: 90%;
    margin: 10px;
}
